<section class="main-container">
  <section class="main-container__banner">
		<div class="banner__area-background">
			<h1 class="area-background__title">Tema de que hablare en la web</h1>
      <ul class="area-background__circles">
        <li *ngFor="let item of [].constructor(10)"></li>
      </ul>
    </div>
    <div class="banner__profile">
      <div class="profile__image-container">
        <img class="image-container__image" src="{{imgProfile}}" alt="Imagen de perfil" />
      </div>
      <h4 class="profile__name --info">Emma Mora</h4>
      <h4 class="profile__date --info">27 de septiembre del 2023</h4>
    </div>
  </section>
  <section class="main-container__list-container">
    <ul class="list-container__list">
      <li class="list__item"></li>
    </ul>
  </section>
</section>
