*{
    --primary-color: #282532;
    --secondary-color: #fda74d;
    --tertiary-color: #f2f2f2;
    --background-animation-color: #a85903;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
}

body{
    background-color: var(--primary-color);
}
